.carousel-container {
    height: 500px;
    overflow:hidden;
}

@media (max-width: 600px) {
    .carousel-container {
        height: 530px;
        /*display: flex !important;*/
        /*justify-content: space-between !important;*/
    }
}