.carousel-container {
    display:flex !important;
    height: 440px;
    flex-direction: row !important;
    justify-content: space-between !important;

}

@media (max-width: 480px) {
    .carousel-container {
        height: 440px;
        display: flex !important;
        justify-content: space-between !important;
    }
}