.genre-badge-ground {
    display: flex;
    flex-direction: column;

}


.genre-item {
    width: 100%;
    height: 30px;
    justify-content: center;
    vertical-align: center;
}

.genre-item-selected {
    width: 100%;
    height: 40px;
    font-weight: bold;
    color: red;
    align-items: center;
    vertical-align: center;
    justify-content: center;
}

.pagination {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    gap: 1rem;

    > * {
        cursor: pointer;
    }
}

.page-link {
    background-color: black !important;
    color: crimson !important;
    border: 1px solid crimson !important;
    border-radius: 20px;
}

@media screen and (max-width: 600px) {
    .genre-badge-ground {
        display: flex;
        flex-direction: column;

    }


    .genre-item {
        width: 100%;
        height: 30px;
        justify-content: center;
        vertical-align: center;
    }

    .genre-item-selected {
        width: 100%;
        height: 40px;
        font-weight: bold;
        color: red;
        align-items: center;
        vertical-align: center;
        justify-content: center;
    }
    .movie-page-list{
        display: flex;
        flex-direction: column;
    }

    .pagination {
        margin-top: 2rem;
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: black;
        > * {
            cursor: pointer;
        }
    }

    .page-link {
        background-color: black !important;
        color: crimson !important;
        border: 1px solid crimson !important;
        border-radius: 20px;
    }
}