#root{
    height: 100%;
    width:100%;
    margin:0;
    padding: 0;
    background-color: black;
}

.pageContainer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pageContainerRow{
    height: 100vh;
    width: 100vw;
    display: flex;
     background-image: url("../../../public/images/notFoundPage.jpg");
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.NotFoundText{
    padding-bottom: 500px;
    color: whitesmoke;
}